body{
    background-color: black;
    color: white;
}

#header{
    position: fixed;
    width: 100%;
    /* position: fixed; */
}

#main{
    margin-top: 50px;
    
}

#container{
    min-height: 85.7vh;
}

#contact-form{
    margin-bottom: 40px;
}

#about{
    margin-top: 5em;
}

#footer{
    /* display: inline-block; */
    position: relative;
    bottom: 0;
    width: 100%;   
    background: #6cf;
}

.main_home{
    margin-top: 5em;
}
.home{
    margin-top: 5em;
    text-align: center;
}


.buscador{
    margin: 2em;
}

.libros{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.libro{
    text-align: center;
}

.libros-top{
    width: 100%;
    
}

.libroTop{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    margin: 2em;
    background-color: rgba(95, 81, 81, 0.5);
    padding: 1em;
    color: white;

}

.infoLibro{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    margin-top: 5em;
    margin-bottom: -7em;
    /* margin: 5em; */
    background-color: rgba(95, 81, 81, 0.5);
    padding: 1em;
    color: white;
}

.navLibros{
    text-align: center;
    margin-bottom: 1em;
}

.boton_nav{
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: gray;
    border-radius: 10px;
    border: none;
    transition: padding .5s;

}

.boton_nav:hover, .boton_nav:focus{
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: .4em;
    padding-bottom: .4em;
    background-color: gray;
    border-radius: 10px;
    border: none;
}

.button_libro_top{
    position: relative;
    width: 10%;
    left: 80%;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    padding: .5em;
    transition: background-color .5s;
}

.button_libro_top:hover{
    position: relative;
    width: 10%;
    left: 80%;
    background-color: gray;
    border-radius: 10px;
    border: none;
    color: white;
    
}


.boton_comprar{
    position: relative;
    width: 20%;
    left: 70%;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    padding: .5em;
    transition: background-color .5s;
}

.boton_comprar:hover{
    position: relative;
    width: 20%;
    left: 70%;
    background-color: gray;
    border-radius: 10px;
    border: none;
    color: white;
    
}


.divLibro{
    margin: 1em;
}

.divLibro:hover{
    cursor: pointer;
    margin: 1em;
}

#cuenta{
    margin-top: 5em;
    width: 100%;
    text-align: center;
}

.cuentaDiv{
    display: grid;
    grid-template-columns: 20% 80%;
}

.infoCuenta{
    left: 7em;
    margin-top: 4em;
}

.avatar{
    width: 30px;
    height: 30px;
}